@use 'abstracts' as *;

.container {    
    width: 100%;
    min-width: 20rem;
    max-width: 480px;
    margin: 0 auto;
    display:flex;
    flex-direction: column;
    margin-block-start: 0;
    margin-block-end: 0;
    
    
    // @media (max-width: 750px) {
    //     flex-direction: column;        
    // };
    // @media (min-width: 751px) {
    //     flex-direction: row;
    // };
};

.container > h2, .container > h3 {
    color: $color-brand-1;
    margin: 0 auto;
}

.container__top3 {
    background-color: blueviolet;    
}