$color-brand-1: #fa2fb5;
$color-brand-2: #ffc23c;
$color-brand-3: #100720;
$color-transparent: #541bb696;
$color-gray-1: #f1f1f1;
$color-gray-2: #71819d;
$color-green-1: #008d60;
$color-blue-1: #0d357b;
$color-white: #ffffff;
$color-black: #000000;

$text-font-stack: "Inter, Roboto, Arial, sans-serif";

@mixin nav-styles() {
	font-size: 1rem;
	font-family: "Inter";
	font-weight: 600;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
};

@mixin nav-styles-mobile() {
	font-size: 24px;
	font-family: "Inter";
	font-weight: 600;
	font-style: normal;
	text-decoration: none;
	text-transform: none;
};